body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.display {
    background-color: gray;
    font-size: 2em;
    height: 3em;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #dae6d2;
    color: #000000;
    border-radius: 10px;
    margin-bottom: 20px;
}

.input, .result {
    text-align: right;
}

.buttons {
    width: 520px;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

button {
    height: 90px;
    width: 90px;
    background-color: #e9eae2;
    font-size: 2rem;
    border-width: 3px;
}

.calculator {
    background-color: #212227;
    padding: 20px;
    width: 520px;
    border-radius: 20px;
}

.num-buttons {
    flex: 0 3 300px;
    flex-direction: row-reverse;
}

.op-buttons {
    flex: 0 2 200px;
}

.num-buttons, .op-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.button-7 {
    border-top-left-radius: 15px;
}

.button-clear {
    border-top-right-radius: 15px;
}

.button-equals {
    border-bottom-right-radius: 15px;
}

.button-0 {
    border-bottom-left-radius: 15px;
}

.op-buttons button {
    background-color: orange;
}

.op-buttons button.button-equals {
    background-color: #191e21;
    color: #cad0cc;
}

.op-buttons button.button-del,
.op-buttons button.button-clear {
    background-color: #3535d4;
    color: #d4e1ff;
}