.display {
    background-color: gray;
    height: 1.5em;
    width: 150px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.buttons {
    width: 150px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between;
    align-content: space-between;
}

button {
    height: 45px;
    width: 45px;
}

