.display {
    background-color: gray;
    height: 1.5em;
    width: 150px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.buttons {
    width: 160px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

button {
    height: 45px;
    width: 45px;
}

.calculator {
    background-color: #212227;
    padding: 10px;
    width: 160px;
}